

    .footer {
     
        padding: 20px;
        background-color: #283739;
        text-align: center;
        color: #a9c52f;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-top: 50px;
    }

